    body {
        font-family: Arial, sans-serif;
        text-align: center;

        background: linear-gradient(90deg, hsla(0, 100%, 67%, 1) 0%, hsla(0, 100%, 89%, 1) 100%);
    }
    .container {
        width: 50%;
        margin: auto;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px; /* Increased font size */
    }
    input {
        margin: 5px;
        padding: 10px; /* Increased padding for better readability */
        width: 90%;
        font-size: 16px; /* Increased font size */
        border: 2px solid #ccc;
        border-radius: 25px;
        transition: border-color 0.3s ease;
    }
    input:focus {
        border-color: #c42929;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        background-color: #ddd5d5;
        transition: all 0.9s ease; 

        outline: none;
    }
    button {
        margin: 10px;
        padding: 12px; /* Increased padding */
        font-size: 16px; /* Increased font size */
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }
    button:hover {
        background-color: #c42929;
        color: white;
        border-radius: 25px;
        transform: scale(1.02);
        transition: all 0.9s ease; 
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }
    #output {
        display: none;
        padding: 20px;
        margin-top: 20px;
        font-weight: bolder;
        background-color: #ffff;
        font-size: 34px; /* Increased font size for output */
        text-align: left;
    }
    #output strong {
        font-size: 24px; /* Increased font size for strong text */
        display: inline-block;
        width: 40%; /* Adjust width for left alignment */
        text-align: left;
    }
    #output span {
        display: inline-block;
        width: 50%; /* Adjust width for right alignment */
        text-align: right; 
        font-weight: bold; /* Make the text bold */
        font-size: 20px; /* Increased font size for span text */
    }
    #output img {
        display: block;
        height: 100px;
        margin: 0 auto;
    }
    #output h2 {
        font-size: 30px; /* Increased font size for h2 */
        margin-bottom: 10px;
        font-weight: bolder;
        
    }
    .container h2 {
        font-size: 45px;
        margin-bottom: 20px;
        /* background-color: #c42929; */
    
    }
    .container {
        /* background-color: #c42929; */
        width: 500px;
        padding: 20px;
    }
    footer {
        background-color: #463737;
        color: white;
        text-align: center;
        padding: 15px;
        margin-top: 40px;
        font-size: 16px;
        border-top: 1.5px solid #c42929;
    }
    footer a {
        color: #f1c40f;
        text-decoration: none;
        font-weight: bold;
    }
    footer a:hover {
        text-decoration: underline;
    }